.DS_Store
font/fontforge/maked_fonts/backup/*
!font/fontforge/maked_fonts/backup/.gitkeep
font/fontforge/maked_fonts/bmps/*
!font/fontforge/maked_fonts/bmps/.gitkeep
font/fontforge/maked_fonts/fonts/*
!font/fontforge/maked_fonts/fonts/.gitkeep
font/fontforge/maked_fonts/processimgs/*
!font/fontforge/maked_fonts/processimgs/.gitkeep
padding/node_modules
padding/ufo2svg
padding/dist
padding/resource