<html lang=ja>
    <head>
        <!--<script type="text/javascript">
            // ここにスクリプトを記述
            alert("修造2");    
        </script>-->
        <link href="./resource/style/auto-font-margin.css" rel="stylesheet">
        <script type="text/javascript" src="./resource/js/send_pointer.js#1911"></script>
    </head>
    <body>
        <h1>auto-font-margin</h1>
        <iframe id="frame_all"
        src="./all.html" width="100%" height="70%"></iframe>
        <iframe id="frame_several"
        src="./several.html" width="100%" height="20%"></iframe>

    </body>
</html>