<html lang=ja>
    <head>
        <!--<script type="text/javascript">
            // ここにスクリプトを記述
            alert("修造2");    
        </script>-->
        <link href="./resource/style/auto-font-margin.css" rel="stylesheet">
        <script type="text/javascript" src="./resource/js/send_pointer.js#1911"></script>
    </head>
    <body>
        <h1>auto-font-margin</h1>
        <div>
            <iframe id="frame_all"
            src="./all.html"></iframe>
        </div>
        <div>
            <iframe id="frame_several"
            src="./several.html"></iframe>
        </div>
    </body>
</html>